:root{
/* Primary */

--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan : hsl(167, 40%, 24%);
--Dark-blue: hsl(198, 62%, 26%);
--Dark-moderate-cyan: hsl(168, 28%, 54%);

/* ### Neutral */

--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
--black:hsl(0, 0%, 0%);
}

body{
  font-family: 'Barlow' ,sans-serif;
  font-weight: 700;
  font-size: 18px;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  background-color: var(--Dark-blue);
  width: 7px;
  border-radius: 7px;
}
body::-webkit-scrollbar-thumb{
  background-color: var(--Yellow);
  border-radius: 7px;
}
.header{
  height: 300px;
  position: relative;
  background-image: 
  url("../images/desktop/image-header.jpg") ;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.header--arrow{
  position: absolute;
  width: 25px;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width:768px) {
  .header--arrow{
    top: 70%;
  }
}
@media screen and (min-width:768px) {
  .header{
    height:450px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-size: 100%;
    background-position: center 100%;
  }
}
.header--title{
  width: 60%;
  margin: 0 auto;
  transform: translateY(75%);
  color: var(--White);
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}
@media screen and (min-width:768px) {
  .header--title{
    grid-row: 2/-1;
    grid-column: span 3;
    align-self: flex-start;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
  }
  @media screen and (min-width:1024px) {
    .header--title{
      font-size: 4rem;
    }
  }
}
.header--img,
.header--hamburguer{
  position: absolute;
  top: 20px;
}
@media screen and (min-width:768px) {
  .header--hamburguer{
    display: none;
  }
}
.header--img{
  left: 10px;
}

.header--hamburguer{
  right: 5%;
}


.menu--header{
  height: 175px;
  background-color: var(--White);
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transform: scale(0);
  transition: transform 0.3s;
}
@media screen and (min-width:768px) {
  .menu--header{
    transform: scale(1);
    background-color: transparent;
    margin: 0;
    width: 100%;
    height: auto;
    grid-column: 2/-1
  }
}
.active{
  transform: scale(1);
}
.menu--header::after{
  content: '';
  position: absolute;
  top: -14%;
  right:-1%;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 15px solid var(--White);
  border-bottom: 15px solid var(--White);
  transform: rotateY(145deg);
}
@media screen and (min-width:768px) {
  .menu--header::after{
    display: none;
  }
}
.menu{
  height: 100%;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (min-width:768px) {
  .menu{
    height: auto;
    margin-top: 25px;
    flex-direction: row;
    align-items: flex-start;
  }
}
.menu--link{
  text-decoration: none;
  color: var(--Dark-grayish-blue);
}
@media screen and (min-width:768px) {
  .menu--link{
    cursor: pointer;
    color: var(--White);
  }
  .menu--link:hover{
    color: var(--Dark-grayish-blue);
  }
}

.menu--item:last-child{
  background-color: var(--Yellow);
  padding: 0.6em;
  border-radius: 15px;
}
@media screen and (min-width:768px) {
  .menu--item:last-child{
    background-color: var(--White);
    transform: translateY(-10px);
  }
  .menu--item:last-child:hover{
    background-color: #3ebfff;
    color: var(--White);
    border: 1px solid;
  }
}

.menu--item:last-child > .menu--link{
  color:var(--black);
}
.content{
  font-family: 'Fraunces',sans-serif;
}




.div .content-grid:first-child,
.div .content-grid:last-child{
  margin-top: 50px;
  height: 400px;
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 10% 0%;
}
.div .content-grid:last-child{
  margin-top: 0;
  background-image: url("../images/mobile/image-photography.jpg")
}
.div .title-one{
  margin: 0;
}
.div .grid-info{
  transform: translateY(150%);
}

@media screen and (min-width:768px) {
  .content-grid:first-child{
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2,50%);
  }
  .content-grid:first-child >.content-img{
    order: 2;
  }
  .content-grid:first-child > .grid-info,
  .content-grid:nth-child(2)>.grid-info{
    align-self: center;
  }
  .content-grid:nth-child(2){
    display: grid;
    grid-template-columns: repeat(2,50%);
  }
  .content-img:nth-child(2){
    order: 1;
  }
  .content-grid:nth-child(3){
    margin-top: 0;
  }
}
@media screen and (min-width:768px) {
  .div{
    display:grid;
    grid-template-columns: repeat(2,1fr);
  }
  .div .content-grid:first-child,
  .div .content-grid:last-child{
    height: 565px;
  }
  .div .content-grid:first-child{
    margin-top: 0;
  }
  .div .grid-info{
    transform: translateY(0);
    grid-column: span 2;
  }
  .div .grid-info:first-child{
    align-self: flex-end;
  }
  .content-img{
    line-height: 0;
  }
  
}

.title-one,
.info-one{
  color: var(--Dark-desaturated-cyan);
  font-weight: 900;
}
.info-one{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
}

.item-img{
  max-width: 100%;
}
.grid-info{
  text-align: center;
}

.title-grid{
  color: var(--Very-dark-desaturated-blue);
  font-weight: 900;
}
@media screen and (min-width:768px) {
  .testimonials{
    margin-top: 10%;
  }
  
}

.info-grid{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: var(--Dark-grayish-blue);
}
.link-grid{
  text-decoration: underline overline;
  text-decoration-color: var(--Yellow);
  text-decoration-style: dashed;
  color: var(--Dark-blue);
  font-weight: 900;
  line-height: 1.5em;
}
.title-testimonials{
  color: var(--Dark-grayish-blue);
  text-align: center;
  letter-spacing: 2px;
}
.card{
  text-align: center;
  margin-bottom: 50px;
}
/* .card--header{
} */
.card--img{
  max-width: 25%;
  border-radius: 50%;
}
.card--info{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: var(--Very-dark-grayish-blue);
}
.card--name{
  color: var(--Very-dark-desaturated-blue);
  font-weight: 900;
  font-size: 1.3rem;
}

.card--work{
  color: var(--Dark-grayish-blue);
}
@media screen and (min-width:768px) {
  .testimonials{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 12%;
  }
  .testimonials-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .card--info{
    margin-bottom: 50px;
  }
  .title-testimonials{
    letter-spacing: 5px;
    font-size: 2.5rem;
  }
}
@media screen and (min-width:1024px) {
  .testimonials{
    width: 90%;
  }
}
.images{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 0;
}
@media screen and (min-width:768px) {
  .images{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
  }
}
.grid-item-img{
  max-width: 100%;
}
.footer{
  height: 300px;
  background-color: var(--Dark-moderate-cyan);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer-logo{
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.footer-menu{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer--link{
  text-decoration: none;
  color: var(--Dark-desaturated-cyan);
}
.footer-social{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (min-width:768px) {
  .footer-menu,
  .footer-social{
    justify-content: center;
  }
  .footer--link,
  .footer-social-img{
    margin-right: 20px;
  }
  .footer--link:hover{
    color: var(--White);
  }
  .footer-social-img{
    cursor: pointer;
  }
}